body {
  background-color: rgb(229, 227, 222);
  color: rgb(88, 45, 8);
  padding: 0;
}

.App {
  text-align: center;
}

.author {
  text-align: left;
  color: gray;
  left: 0;
}

img {
  width: 280px;
  height: 200px;
  margin: 0;
  padding: 30px;
  border-radius: 20%;
}

.cardbox {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-template-rows: repeat(6, 400px);
  padding-top: 30px;
  justify-content: center;
}